# Python
__pycache__/
*.pyc
.venv/

# Temp / runtime
temp/
py/temp/
output/
all_files.txt

# Audio / video artifacts
*.wav
*.mp3
*.mp4

# Model & cache
.model_cache/
py/.model_cache/
models/
py/models/

# Build and Distribution
**/build/
**/dist/
**/*.spec
py/KnowledgeEditor
KnowledgeEditor.app
KnowledgeEditor.exe
KnowledgeEditor

# Logs
pip-log.txt
pip-delete-this-directory.txt
**/__pycache__/
